{% load static %}
{% load i18n %}
{% load custom_tags %}
<nav class="navbar navbar-light navbar-glass navbar-top navbar-expand">

    <button class="btn navbar-toggler-humburger-icon navbar-toggler me-1 me-sm-3" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarVerticalCollapse"
            aria-controls="navbarVerticalCollapse" aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
    <a class="navbar-brand me-1 me-sm-3" href="{% url 'main_base' %}">
        <div class="d-flex align-items-center">
            <img class="me-2"
                 src="{% static 'apps/assets/img/icons/spot-illustrations/alijahon.png' %}"
                 alt="" width="40"/><span
                class="font-sans-serif">Alijahon</span>
        </div>
    </a>
    <ul class="navbar-nav align-items-center d-none d-lg-block">
        <li class="nav-item">
            <div class="search-box position-relative">
                <form class="position-relative" id="search-form" action="/search" method="get">
                    <input class="form-control search-input fuzzy-search" type="search" name="search"
                           placeholder="Search..." aria-label="Search" id="search-input"/>
                    <span class="fas fa-search search-box-icon"></span>
                </form>
                <div class="btn-close-Alijahon-container position-absolute end-0 top-50 translate-middle shadow-none"
                     data-bs-dismiss="search">
                    <div class="btn-close-Alijahon" aria-label="Close"></div>
                </div>
                <div id="search-results" class="search-results-container" style="display: none;"></div>
            </div>
        </li>
    </ul>
    <ul class="navbar-nav navbar-nav-icons ms-auto flex-row align-items-center">
    </ul>

    <ul class="navbar-nav navbar-nav-icons ms-auto flex-row align-items-center">
        <select id="language" onchange="changeLanguage()">
            <option value="en">English</option>
            <option value="uz">Rus</option>
            <option value="uz">Uzbek</option>
        </select>
        <li class="nav-item">
            <div class="theme-control-toggle fa-icon-wait px-2">
                <input class="form-check-input ms-0 theme-control-toggle-input" id="themeControlToggle"
                       type="checkbox" data-theme-control="theme" value="dark"/>
                <label class="mb-0 theme-control-toggle-label theme-control-toggle-light"
                       for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left"
                       title="Switch to light theme"><span class="fas fa-sun fs-0"></span></label>
                <label class="mb-0 theme-control-toggle-label theme-control-toggle-dark"
                       for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left"
                       title="Switch to dark theme"><span class="fas fa-moon fs-0"></span></label>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link px-0 notification-indicator notification-indicator-warning notification-indicator-fill fa-icon-coins"
               href="{% url 'coins_user_list' %}">
        <span class="fas fa-coins"
              data-fa-transform="shrink-7"
              style="font-size: 33px;"></span>
                <span class="notification-indicator-number">12</span>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link pe-0" id="navbarDropdownUser" href="#" role="button" data-bs-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <div class="avatar avatar-xl" bis_skin_checked="1">
                    <img class="rounded-circle" src="{{ user.image.url }}
                        " alt="card">
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end py-0" aria-labelledby="navbarDropdownUser">
                <div class="bg-white dark__bg-1000 rounded-2 py-2">
                    <a class="dropdown-item" href="
                            
                            
                            {% if not user.is_authenticated %}{% url 'login_page' %}{% else %}{% url 'profile_page' %}{% endif %}">
                        {% trans 'Profile' %}</a>
                    {% if user.is_authenticated %}
                        <a class="dropdown-item" href="{% url 'favorite_page' %}">{% trans "Sevimlilar" %}</a>
                        <a class="dropdown-item" href="{% url 'settings_page' %}">{% trans 'Sozlamalar' %}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item fw-bold text-warning" href="{% url 'admin_page' %}">
                            <span
                                    class="fas fa-crown me-1"></span>
                            <span>{% trans 'Adminlar uchun' %}</span>
                        </a>
                        {% if request.user.type|has_operator %}
                            <a class="dropdown-item"
                               href="{% url 'operator_page' %}">{% trans 'Operator uchun' %}</a>
                        {% endif %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"
                           href="{% url 'logaut_page' %}">{% trans 'Chiqish' %}</a>
                    {% else %}
                        <a class="dropdown-item"
                           href="{% url 'login_page' %}">{% trans 'Kirish' %}</a>
                    {% endif %}
                    <a class="dropdown-item"
                       href="https://t.me/mexmonjonovuz">{% trans "Savollar bo'yicha" %}</a>
                </div>
            </div>
        </li>
    </ul>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const searchInput = document.getElementById('search-input');
            const resultsContainer = document.getElementById('search-results');
            let debounceTimeout;

            function fetchSearchResults(query) {
                fetch(`/search/?search=${encodeURIComponent(query)}`)
                    .then(response => response.json())
                    .then(data => {
                        resultsContainer.innerHTML = '';
                        if (data.length > 0) {
                            data.forEach(item => {
                                const listItem = document.createElement('div');
                                listItem.textContent = item.name;
                                listItem.classList.add('search-result-item');
                                listItem.addEventListener('click', function () {
                                    window.location.href = `/product/${item.id}`;
                                });
                                resultsContainer.appendChild(listItem);
                            });
                            resultsContainer.style.display = 'block';
                        } else {
                            resultsContainer.innerHTML = '<div class="no-results">No results found</div>';
                            resultsContainer.style.display = 'block';
                        }
                    })
                    .catch(error => console.error('Error fetching search results:', error));
            }

            searchInput.addEventListener('input', function () {
                clearTimeout(debounceTimeout);
                const query = this.value;

                if (query.length > 2) {
                    debounceTimeout = setTimeout(() => fetchSearchResults(query), 300);
                } else {
                    resultsContainer.style.display = 'none';
                }
            });
        });
    </script>

</nav>

