{% extends 'apps/base.html' %}
{% load custom_tags %}
{% load i18n %}
{% block title %}
    Sorovlar page
{% endblock %}
{% block  main_content %}
    <div class="card-body d-flex justify-content-between" bis_skin_checked="1">
        <div bis_skin_checked="1">
            <a class="btn btn-falcon-default btn-sm" href="{% url 'main_base' %}" data-bs-toggle="tooltip"
               data-bs-original-title="Orqaga">
                <svg class="svg-inline--fa fa-arrow-left fa-w-14" data-icon="arrow-left" role="img"
                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path fill="currentColor"
                          d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"></path>
                </svg>
            </a>
        </div>
    </div>
    <div class="card mb-3" bis_skin_checked="1">
        <div class="card-body" bis_skin_checked="1">
            <div class="container" bis_skin_checked="1">
                <div class="table-responsive" bis_skin_checked="1">
                    <table class="table">
                        <thead class="text-center">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">{% trans 'Operator' %}</th>
                            <th scope="col">{% trans 'Mahsulot' %}</th>
                            <th scope="col">{% trans 'Oqim' %}</th>
                            <th scope="col">{% trans 'Buyurtmachi' %}</th>
                            <th scope="col">{% trans 'Viloyat' %}</th>
                            <th scope="col">{% trans 'Holat' %}</th>
                            <th scope="col">{% trans 'Sana' %}</th>
                        </tr>
                        </thead>

                        <tbody class="text-center">
                        </tbody>
                        <tbody class="text-center">
                        {% for order in orders %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ order.operator }}</td>
                                <td>{{ order.product }}</td>
                                <td>{{ order.stream.name|default:'-' }}</td>
                                <td>{{ order.full_name }}</td>
                                <td>{{ order.region.name|default:'' }}</td>
                                <td>{{ order.status.title }}</td>
                                <td>{{ order.created_at|custom_date }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="9">Sorovlar mavjud emas.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}