{% load i18n %}
{% load custom_tags %}
<div class="col-md-2 h-70 text-center" style="background-color: #38ffae; padding-right: 0; position:absolute;">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <div class="list-group text-light w-100 h-100">
        <a style="height: 13%" href="{% url 'operator_status_page' 'new' %}"
           class="btn btn-primary list-group-item text-dark mt-1  {% if request.path|spliter == 'new' %}active{% endif %} ">
            <div>
                {% if request.path|spliter == 'new' %}<i class="bi bi-check-circle-fill text-success"></i>
                {% else %}<i class="fa fa-newspaper-o" aria-hidden="true"></i>{% endif %}
            </div>
            <h6>{% trans 'Yangi buyurtmalar' %}</h6>
        </a>
        <a style="height: 13%" href="{% url 'operator_status_page' 'ready' %}"
           class="btn btn-primary list-group-item text-dark mt-1 {% if request.path|spliter == 'ready' %}active{% endif %} ">
            <div>
                {% if request.path|spliter == 'ready' %}<i class="bi bi-check-circle-fill text-success"></i>
                {% else %}<i class="fa fa-newspaper-o" aria-hidden="true"></i>{% endif %}            </div>
            <h6>{% trans 'Dostavka tayyor' %}</h6>
        </a>
        <a style="height: 13%" href="{% url 'operator_status_page' 'delivering' %}"
           class="btn btn-primary list-group-item text-dark mt-1 {% if request.path|spliter == 'delivering' %}active{% endif %} ">
            <div>
                {% if request.path|spliter == 'delivering' %}<i class="bi bi-check-circle-fill text-success"></i>
                {% else %}<i class="fa fa-newspaper-o" aria-hidden="true"></i>{% endif %}            </div>
            <h6>{% trans 'Yetkazilmoqda' %}</h6>
        </a>
        <a style="height: 13%" href="{% url 'operator_status_page' 'delivered' %}"
           class="btn btn-primary list-group-item text-dark mt-1 {% if request.path|spliter == 'delivered' %}active{% endif %} ">
            <div>
                {% if request.path|spliter == 'delivered' %}<i class="bi bi-check-circle-fill text-success"></i>
                {% else %}<i class="fa fa-newspaper-o" aria-hidden="true"></i>{% endif %}            </div>
            <h6>{% trans 'Yetkazildi' %}</h6>
        </a>
        <a style="height: 13%" href="{% url 'operator_status_page' 'cant_phone' %}"
           class="btn btn-primary list-group-item text-dark mt-1 {% if request.path|spliter == 'cant_phone' %}active{% endif %} ">
            <div>
                {% if request.path|spliter == 'cant_phone' %}<i class="bi bi-check-circle-fill text-success"></i>
                {% else %}<i class="fa fa-newspaper-o" aria-hidden="true"></i>{% endif %}            </div>
            <h6>{% trans "Telefon ko'tarmadi" %}</h6>
        </a>
        <a style="height: 13%" href="{% url 'operator_status_page'  'broken' %}"
           class="btn btn-primary list-group-item text-dark mt-1 {% if request.path|spliter == 'broken' %}active{% endif %} ">
            <div>
                {% if request.path|spliter == 'broken' %}<i class="bi bi-check-circle-fill text-success"></i>
                {% else %}<i class="fa fa-newspaper-o" aria-hidden="true"></i>{% endif %}            </div>
            <h6>{% trans 'Nosoz, talabga javob bermaydi' %}</h6>
        </a>
        <a style="height: 13%" href="{% url 'operator_status_page' 'cancelled' %}"
           class="btn btn-primary list-group-item text-dark mt-1 {% if request.path|spliter == 'cancelled' %}active{% endif %} ">
            <div>
                {% if request.path|spliter == 'cancelled' %}<i class="bi bi-check-circle-fill text-success"></i>
                {% else %}<i class="fa fa-newspaper-o" aria-hidden="true"></i>{% endif %}            </div>
            <h6>{% trans 'Bekor qilindi' %}</h6>
        </a>
        <a style="height: 13%" href="{% url 'operator_status_page' 'archived' %}"
           class="btn btn-primary list-group-item text-dark mt-1 {% if request.path|spliter == 'archived' %}active{% endif %} ">
            <div>
                {% if request.path|spliter == 'archived' %}<i class="bi bi-check-circle-fill text-success"></i>
                {% else %}<i class="fa fa-newspaper-o" aria-hidden="true"></i>{% endif %}            </div>
            <h6>{% trans 'Arxivlandi' %}</h6>
        </a>
        <a style="height: 13%" href="{% url 'operator_status_page' 'all' %}"
           class="btn btn-primary list-group-item text-dark mt-1 {% if request.path|spliter == 'all' %}active{% endif %} ">
            <div>
                {% if request.path|spliter == 'all' %}<i class="bi bi-check-circle-fill text-success"></i>
                {% else %}<i class="fa fa-newspaper-o" aria-hidden="true"></i>{% endif %}            </div>
            <h6>{% trans 'Hammasi' %}</h6>
        </a>
    </div>
</div>

