{% load custom_tags %}
{% load i18n %}
<nav class="navbar navbar-dark bg-dark text-white" style="  height: 10%;">
    {% if request.path|spliter == 'new' %}
        <div style="margin-left: 15px;">
        <a href="{% url 'operator_add_order' %}">{% trans 'Zakaz +' %}</a>{% endif %}
    </div>
    <div>{% trans 'Buyurtmalar: ' %}{{ 100 }}</div>
    <h4>ID: {% if request.user.type == "Operator" %}{{ request.user.id }}{% else %}{% url 'login_page' %}{% endif %}</h4>
    <h4>Operator: {{ request.user.first_name }}</h4>
    <a href="{% url 'admin_page' %}" class="btn btn-danger btn-sm">{% trans 'Asosiy panel' %}</a>
</nav>
