{% load static %}
{% load i18n %}
<nav class="navbar navbar-light navbar-vertical navbar-expand-xl">
    <script>
        var navbarStyle = localStorage.getItem("navbarStyle");
        if (navbarStyle && navbarStyle !== 'transparent') {
            document.querySelector('.navbar-vertical').classList.add(`navbar-${navbarStyle}`);
        }
    </script>
    <div class="d-flex align-items-center" bis_skin_checked="1">
        <div class="toggle-icon-wrapper" bis_skin_checked="1">

            <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle" data-bs-toggle="tooltip"
                    data-bs-placement="left" title="" data-bs-original-title="Toggle Navigation"
                    aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span
                    class="toggle-line"></span></span></button>

        </div>
        <a class="navbar-brand" href="{% url 'main_base' %}">
            <div class="d-flex align-items-center py-3" bis_skin_checked="1">
                <img class="me-2"
                     src="{% static 'apps/assets/img/icons/spot-illustrations/alijahon.png' %}"
                     alt="" width="40">alijahon
            </div>
        </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarVerticalCollapse" bis_skin_checked="1">
        <div class="navbar-vertical-content scrollbar" bis_skin_checked="1">
            <ul class="navbar-nav flex-column mb-3" id="navbarVerticalNav">
                <li class="nav-item">
                    <ul class="nav collapse show" id="dashboard">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'main_base' %}" aria-expanded="false">
                                <div class="d-flex align-items-center" bis_skin_checked="1"><span
                                        class="nav-link-text ps-1">{% trans 'Bosh sahifa' %}</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'category_list' %}" aria-expanded="false">
                                <div class="d-flex align-items-center" bis_skin_checked="1"><span
                                        class="nav-link-text ps-1">{% trans 'Mahsulotlar' %}</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'order_page' %}" aria-expanded="false">
                                <div class="d-flex align-items-center" bis_skin_checked="1"><span
                                        class="nav-link-text ps-1">{% trans 'Buyurtmalar' %}</span>
                                </div>
                            </a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'favorite_page' %}" aria-expanded="false">
                                    <div class="d-flex align-items-center" bis_skin_checked="1"><span
                                            class="nav-link-text ps-1">{% trans 'Yoqtirgan mahsulotlarim' %}</span>
                                    </div>
                                </a>
                            </li>
                            <hr>
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'market_page' %}" aria-expanded="false">
                                    <div class="d-flex align-items-center" bis_skin_checked="1"><span
                                            class="nav-link-text ps-1">{% trans 'Market' %}</span>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'steam_page' %}" aria-expanded="false">
                                    <div class="d-flex align-items-center" bis_skin_checked="1"><span
                                            class="nav-link-text ps-1">{% trans 'Oqim' %}</span>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'statistika_page' %}" aria-expanded="false">
                                    <div class="d-flex align-items-center" bis_skin_checked="1"><span
                                            class="nav-link-text ps-1">{% trans 'Statistika' %}</span>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'inquiries_page' %}" aria-expanded="false">
                                    <div class="d-flex align-items-center" bis_skin_checked="1"><span
                                            class="nav-link-text ps-1">{% trans "So'rovlar" %}</span>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'competition_page' %}"
                                   aria-expanded="false">
                                    <div class="d-flex align-items-center" bis_skin_checked="1"><span
                                            class="nav-link-text ps-1">{% trans 'Konkurs' %}</span>
                                    </div>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'payment_page' %}" aria-expanded="false">
                                    <div class="d-flex align-items-center" bis_skin_checked="1"><span
                                            class="nav-link-text ps-1">{% trans "To'lov" %}</span>
                                    </div>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'diagrams_page' %}" aria-expanded="false">
                                    <div class="d-flex align-items-center" bis_skin_checked="1"><span
                                            class="nav-link-text ps-1">{% trans "Diagrammalar" %}</span>
                                    </div>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</nav>