{% extends 'apps/base.html' %}
{% load i18n %}
{% block title %}
    Settings page
{% endblock %}
{% block main_content %}
    <div class="row">
        <div class="col-12">
            <div class="card mb-3 btn-reveal-trigger">
                <div class="card-header position-relative min-vh-25 mb-8">
                    <div class="cover-image">
                        <div class="bg-holder rounded-3 rounded-bottom-0">
                        </div>
                        <input class="d-none" id="upload-cover-image" type="file">

                    </div>
                    <div class="avatar avatar-5xl avatar-profile shadow-sm img-thumbnail rounded-circle">
                        <form action="{% url 'settings_change_image_page' %}" method="post"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="h-100 w-100 rounded-circle overflow-hidden position-relative"><img
                                    src="
                                            
                                            {% if user.image %}{{ user.image.url }}{% else %}https://alijahon.uz/media/img/nouser.png{% endif %}"
                                    width="200" style="height: 162px" alt="" data-dz-thumbnail="data-dz-thumbnail">

                                <input name="image" class="d-none" id="profile-image" type="file"/>
                                <label class="mb-0 overlay-icon d-flex flex-center" for="profile-image"><span
                                        class="bg-holder overlay overlay-0"></span><span
                                        class="z-index-1 text-white dark__text-white text-center fs--1"><span
                                        class="fas fa-camera"></span><span class="d-block">Update</span></span></label>
                            </div>
                            <div class="col-12 d-flex justify-content-end" style="margin-left: 80px">
                                <button class="btn btn-primary" type="submit">{% trans "Saqlash" %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-0" bis_skin_checked="1">
        <div class="col-lg-8 pe-lg-2" bis_skin_checked="1">
            <div class="card mb-3" bis_skin_checked="1">
                <div class="card-header" bis_skin_checked="1">
                    <h5 class="mb-0">{% trans "Sozlamalar" %}</h5>
                </div>
                <div class="card-body bg-light" bis_skin_checked="1">
                    <form method="post" enctype="multipart/form-data" action="{% url 'settings_page' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6" bis_skin_checked="1">
                                {% trans "Ismi" %}
                                <input type="text" name="first_name" class="form-control" maxlength="30"
                                       id="id_first_name"
                                       value="{{ user.first_name }}">
                            </div>
                            <div class="col-lg-6" bis_skin_checked="1">
                                {% trans "Familiya" %}
                                <input type="text" name="last_name" class="form-control" maxlength="40"
                                       id="id_last_name"
                                       value="{{ user.last_name }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                {% trans "Viloyat" %}
                                <select name="id_region" class="form-control" id="id_region"
                                        onchange="getDistricts(this.value)">
                                    <option value="">{% trans "Viloyat tanlang" %}</option>
                                    {% for region in regions %}
                                        <option value="{{ region.id }}"
                                                {% if user.district.region.id == region.id %}selected{% endif %}>
                                            {{ region.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-6">
                                {% trans "Tuman" %}
                                <select name="district" class="form-control" id="district_id">
                                    <option value="" selected disabled>{% trans "Tuman tanlang" %}</option>
                                    {% if user.district.id %}
                                        <option value="{{ user.district.id }}"
                                                selected>{{ user.district.name }}</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <script>
                            function getDistricts(regionId) {
                                const districtSelect = document.getElementById('district_id');
                                districtSelect.innerHTML = '<option value="" selected disabled>Shahar/Tuman tanlang</option>';

                                if (regionId) {
                                    fetch(`/get-districts/${regionId}`)
                                        .then(response => response.json())
                                        .then(data => {
                                            data.forEach(district => {
                                                const option = document.createElement('option');
                                                option.value = district.id;
                                                option.text = district.name;
                                                districtSelect.appendChild(option);
                                            });
                                        })
                                        .catch(error => console.log('Error:', error));
                                }
                            }
                        </script>
                        <div class="row">
                            <div class="col-lg-6" bis_skin_checked="1">
                                Manzil
                                <input type="text" name="address" class="form-control" maxlength="100" id="id_address"
                                       value="{{ user.address|default_if_none:'' }}">
                            </div>
                            <div class="col-lg-6" bis_skin_checked="1">
                                Telegram id
                                <input type="number" name="telegram_id" class="form-control" maxlength="10"
                                       id="id_telegram" value="{{ user.telegram_id|default_if_none:'' }}">
                            </div>
                        </div>
                        <div class="col-lg-6" bis_skin_checked="1">
                            Siz haqingizda
                            <textarea name="bio" cols="40" rows="10" class="form-control" maxlength="399"
                                      id="id_bio">{{ user.bio|default_if_none:'' }}</textarea>
                        </div>
                        <div class="col-12 d-flex justify-content-end" bis_skin_checked="1">
                            <button class="btn btn-primary" type="submit">{% trans "Saqlash" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-4 ps-lg-2" bis_skin_checked="1">
            <div class="sticky-sidebar" bis_skin_checked="1">
                <div class="card mb-3" bis_skin_checked="1">
                    <div class="card-header" bis_skin_checked="1">
                        <h5 class="mb-0">{% trans "Parolni o'zgartirish" %}</h5>
                    </div>
                    <div class="card-body bg-light" bis_skin_checked="1">
                        <form method="post" action="{% url 'settings_change_page' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3" bis_skin_checked="1">
                                <label class="form-label" for="old-password">{% trans "Oldingi parol" %}</label>
                                <input class="form-control" id="old-password" type="password" name="password">
                            </div>
                            <div class="mb-3" bis_skin_checked="1">
                                <label class="form-label" for="new-password">{% trans "Yangi parol" %}</label>
                                <input class="form-control" id="new-password" type="password" name="password1">
                            </div>
                            <div class="mb-3" bis_skin_checked="1">
                                <label class="form-label"
                                       for="confirm-password">{% trans "Yangi parolni takrorlash" %}</label>
                                <input class="form-control" id="confirm-password" type="password" name="password2">
                            </div>
                            <button class="btn btn-primary d-block w-100" type="submit">{% trans "Parolni yangilash" %}
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
