{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Kuryerlar bo'limi - Yangi
        - jin.uz</title>
    <link rel="stylesheet" href="{% static 'apps/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'apps/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css" rel="stylesheet">
    <style>
        select {
            width: 100%;
        }
    </style>

</head>
<body>
<div>
    <nav class="navbar navbar-dark bg-dark text-white" style="height: 10%;">


        <div>Buyurtmalar</div>
        <h4>ID: 1</h4>
        <h5>Kuryer balans: 17 227 000</h5>


        <a href="/currier/withdraw" class="btn btn-success btn-sm">Pul chiqarish</a>
        <a href="/admin_page" class="btn btn-danger btn-sm">Asosiy panel</a>
    </nav>
    <div class="row">
        <div class="col-md-2 h-70 text-center" style="background-color: #38ffae; padding-right: 0; position:absolute;">
            <div class="list-group text-light w-100 h-100">
                <a style="height: 13%" href="/currier/new"
                   class="btn btn-primary list-group-item text-dark mt-1  active ">
                    <div>
                        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                    </div>
                    <h6>Yangi (2967)</h6>
                </a>
                <a style="height: 13%" href="/currier/delivering"
                   class="btn btn-primary list-group-item text-dark mt-1 ">
                    <div>
                        <i class="fa fa-truck" aria-hidden="true"></i>
                    </div>
                    <h6>Yetkazilmoqda (0)</h6>
                </a>
                <a style="height: 13%" href="/currier/waiting"
                   class="btn btn-primary list-group-item text-dark mt-1 ">
                    <div>
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </div>
                    <h6>Keyin oladi (1)</h6>
                </a>
                <a style="height: 13%" href="/currier/cancelled"
                   class="btn btn-primary list-group-item text-dark mt-1 ">
                    <div>
                        <i class="fa fa-chain-broken" aria-hidden="true"></i>
                    </div>
                    <h6>Nosoz, bekor qilindi (2)</h6>
                </a>
                <a style="height: 13%" href="/currier/delivered"
                   class="btn btn-primary list-group-item text-dark mt-1 ">
                    <div>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </div>
                    <h6>Yetkazib berildi</h6>
                </a>
            </div>
        </div>
        <div class="col-md-10" style="margin-left: 16%;">

            <div class="bg-light w-75 m-auto mt-5">

                <form method="GET">

                    <div>
                        <p>
                            <label for="id_currier">Kuryer:</label>
                            <select name="currier" id="id_currier" multiple>
                                <option value="21">Toshkent shahar</option>

                                <option value="57">Abror</option>

                                <option value="93">Temur</option>

                                <option value="109">Sardor</option>

                                <option value="174">Rustam</option>

                                <option value="175">Baxtiyor</option>

                                <option value="181"></option>

                                <option value="182"></option>

                                <option value="195">Jizzax</option>

                                <option value="196">Samarqand</option>

                                <option value="197"></option>

                                <option value="198"></option>

                                <option value="199"></option>

                                <option value="200"></option>

                                <option value="201"></option>

                                <option value="202"></option>

                                <option value="203"></option>

                                <option value="204"></option>

                                <option value="205"></option>

                                <option value="206"></option>

                                <option value="213">Jizzax shahar</option>

                            </select>


                        </p>


                        <p>
                            <label for="id_region">Viloyat:</label>
                            <select name="region" id="id_region" multiple>
                                <option value="1">Qoraqalpog&#x27;iston</option>

                                <option value="2">Xorazm</option>

                                <option value="3">Navoiy</option>

                                <option value="4">Buxoro</option>

                                <option value="5">Samarqand</option>

                                <option value="6">Qashqadaryo</option>

                                <option value="7">Surxondaryo</option>

                                <option value="8">Jizzax</option>

                                <option value="9">Sirdaryo</option>

                                <option value="10">Toshkent viloyati</option>

                                <option value="11">Namangan</option>

                                <option value="12">Farg&#x27;ona</option>

                                <option value="13">Andijon</option>

                                <option value="14">Toshkent shahar</option>

                            </select>


                        </p>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Saqlash">
                </form>
                <form method="POST" action="/currier/currier-page">
                    <input type="hidden" name="csrfmiddlewaretoken"
                           value="zUPBhVLmSBa2Bxet7K4uKxblVYKkTOpcnGKuHu4dW9FJDviAq2yFpEfN2sOhnMWL">
                    <input class="btn btn-primary" type="submit" value="Avto Kuryer" style="margin-top: 10px;">
                    <div class="card border-dark mt-5">
                        <span style="position: absolute; right: 0px; border: 1px solid chartreuse; background: chartreuse; padding: 15px; font-size: 26px; font-weight: 700;">#</span>
                        <div class="card-body">
                            <h2 class="card-title">Daraxt tabiiy</h2>
                            <ul class="text-muted">
                                <li class="">Ism: Uchqun Mahkambek o&#x27;g&#x27;li - <a
                                        href="tel:+998995169148">+998995169148</a></li>
                                <li class="">
                                    Manzil: Qashqadaryo, Mirishkor tumani
                                </li>
                                <li class="">Narxi: 189 000 so'm
                                </li>
                                <li class="">Soni: 1ta</li>
                                <li class="">Komment: Zakaz olindi</li>
                                <li class="">Yetkazilish vaqti: ...</li>
                                <li class="">ID: #64871</li>
                                <li class="">Vaqti: 25-Sentabr, 2024-yil 0:31</li>
                                <li class="">Yangilangan vaqti: 3-Oktabr, 2024-yil 20:33</li>
                            </ul>

                            <a href="/currier/order/64871" class="btn btn-primary">
                                Holatini o'zgartirish
                            </a>


                            <a href="/order-spam/64871" class="btn btn-primary"
                               style="background: red; border-color: red; float: right;">Spam</a>


                        </div>
                    </div>
                </form>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">


                        <li class="page-item active disabled">
                            <a class="page-link" href="/currier/new?page=1">
                                1
                            </a>
                        </li>

                        <li class="page-item">
                            <a class="page-link" href="/currier/new?page=2">
                                2
                            </a>
                        </li>


                        <li class="page-item disabled">
                            <a class="page-link" href="">
                                ...
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="/currier/new?page=62">
                                62
                            </a>
                        </li>


                        <li class="page-item">
                            <a class="page-link" href="/currier/new?page=2">
                                Keyingisi
                            </a>
                        </li>


                    </ul>
                </nav>

            </div>


        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>
<script>
    $(function () {
        $('select').multipleSelect({
            multiple: true,
            multipleWidth: 500,
            maxHeight: 200,
            maxHeightUnit: 50,
            filter: true
        })
    })
</script>

</body>
</html>