<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Kuryer listi</title>
    <link rel="shortcut icon" href="{% static 'apps/icons8-market-square-16.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'apps/themes/stock/assets/owlcarousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'apps/themes/stock/assets/owlcarousel/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'apps/themes/stock/assets/css/style.bundle.css' %}">
    <link rel="stylesheet" href="{% static 'apps/themes/stock/assets/css/custom.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css">

    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i"
          rel="stylesheet">
    <link rel="stylesheet" property="stylesheet"
          href=" {% static 'apps/modules/system/assets/css/framework.extras.css' %}">
    <link rel="stylesheet" property="stylesheet" href=" {% static 'apps/css/custom.css' %}">
</head>

<body>
<div class="container-xl" id="printarea">
    <div class="table-responsive">
        <div class="table-wrapper">
            <table class="order-table" id="frame">
                <tbody>
                <tr>
                    <td>№</td>
                    <td>Mijoz</td>
                    <td>Viloyat</td>
                    <td>Manzil</td>
                    <td>Mahsulot</td>
                    <td>Izoh</td>
                    <td>Narxi</td>
                    <td>QR-KOD</td>
                </tr>


                <tr>
                    <td>67479</td>
                    <td>
                        Firuza Akbarova <br> +998 91 544-44-85
                    </td>
                    <td>Samarqand</td>
                    <td>Samarqand shahar</td>
                    <td>
                        Samyun wan - <b>1 ta</b>
                    </td>
                    <td>Zakaz</td>
                    <td>
                        99000 so'm
                    </td>
                    <td>

                        <img src="/media/qr_code/2024/10/14/aad425f9-6313-43b3-adef-0f7c86b18b04.png" alt="Samyun wan"
                             width="70px" style="max-width: none">
                    </td>
                </tr>


                <tr style="height: 207px;">
                    <td style="height: 207px;" colspan="3">
                        <p>Mahsulot summasi: 99000 so'm</p>
                        <p>Dostavka puli: ___ so'm</p>
                        <p>Umumiy mahsulot soni: 1 ta</p>
                        <p>Umumiy buyurtma soni: 1 ta</p>
                        <p>Kuriyer:&nbsp; - +998 11 000-00-95
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container-xl mt-3 mb-3">
    <div class="d-flex justify-content-end">
        <a href="/operator/currier-page" class="btn btn-primary">Orqaga</a>
        <a href="#" class="btn btn-primary" onclick="printFunc()">Print</a>
        <form method="POST" action="/operator/ordered_info/206">
            <input type="hidden" name="csrfmiddlewaretoken"
                   value="PvbcZNKPvlHAh1mp2oW5NQg71PKURgX0Dh65pm3GzTchjZqwlGqgsXkz8jORleuz">

            <input type="text" hidden="" name="order_list" value="67479">


            <input type="submit" name="delivering" class="btn btn-primary" value="yetkazilmoqda">

        </form>
    </div>
</div>

<div class="container-xl">
    <div class="row pl-4" id="printarea1">

        <div style="width: 49%;display: inline-table;margin: 2px;font-size: 11px;">
            <div class="table-responsive">
                <div class="table-wrapper">
                    <table class="order-table">
                        <tbody>
                        <tr>
                            <td>№</td>
                            <td style="width: 39%;"><b>67479</b> - 14-Oktabr, 2024-yil 19:59</td>
                            <td style="width: 20%;" rowspan="8">
                                <center>
                                    <img src="{% static 'apps/img/priceicon.jpg' %}" width="80px" alt="">
                                    <img src="/media/qr_code/2024/10/14/aad425f9-6313-43b3-adef-0f7c86b18b04.png"
                                         alt="Samyun wan" width="80px" style="max-width: none">
                                </center>
                            </td>
                        </tr>
                        <tr>
                            <td>Mijoz</td>
                            <td>Firuza Akbarova<br>+998 91 544-44-85</td>
                        </tr>
                        <tr>
                            <td>Manzil</td>
                            <td>
                                <p>Samarqand, Samarqand shahar</p>
                            </td>
                        </tr>
                        <tr>
                            <td>Mahsulot</td>
                            <td><b>Samyun wan - 1 ta</b></td>
                        </tr>
                        <tr>
                            <td>Izoh</td>
                            <td>Zakaz</td>
                        </tr>
                        <tr>
                            <td>Narxi</td>
                            <td id="price">
                                <b>
                                    99000 so'm
                                </b>
                            </td>
                        </tr>
                        <tr>
                            <td>Operator<br>Call-center</td>
                            <td>
                                #
                                21

                                GULI
                                <br>+998 99 623-89-35
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container-xl mt-3 mb-3">
    <a href="#" class="btn btn-primary" onclick="printFunc1()">Print</a>
</div>

<script>

    function printFunc() {
        var divToPrint = document.getElementById('printarea');
        var htmlToPrint = '' +
            '<style type="text/css">' +
            'table {' +
            'border: 1px solid black;' +
            'border-collapse: collapse;' +
            'font-size: 11px;' +
            '}' +
            '.order-table td {' +
            'border: 1px solid black;' +
            '</style>';
        htmlToPrint += divToPrint.outerHTML;
        newWin = window.open("");
        // newWin.document.write("<h3 align='center'>Print Page</h3>");
        newWin.document.write(htmlToPrint);
        newWin.print();
        newWin.close();
    }

    function printFunc1() {
        var divToPrint = document.getElementById('printarea1');
        var htmlToPrint = '' +
            '<style type="text/css">' +
            'table {' +
            'border: 1px solid black;' +
            'border-collapse: collapse;' +
            'font-size: 11px;' +
            '}' +
            '.order-table td {' +
            'border: 1px solid black;' +
            '</style>';
        htmlToPrint += divToPrint.outerHTML;
        newWin = window.open("");
        newWin.document.write(htmlToPrint);
        newWin.print();
        newWin.close();
    }
</script>


</body>
</html>