{% extends 'apps/base.html' %}
{% load i18n %}
{% load custom_tags %}
{% block title %}
    Competition page
{% endblock %}
{% block main_content %}
    <div class="card-group mt-2" bis_skin_checked="1">
        <div class="card overflow-hidden" bis_skin_checked="1">
            <div class="card-img-top" bis_skin_checked="1"><img class="img-fluid" src="{{ competition.image.url }}"
                                                                alt="Konkurs"></div>
            <div class="card-body" bis_skin_checked="1">
                <h3 class="card-title">alijahon.uz</h3>
                <p class="card-text"></p>
                <p>{% trans competition.title|safe %}</p>

                <p>{% trans competition.description|safe %}</p>
                <p></p>
                <div class="row light" bis_skin_checked="1">
                    <div class="col-6 col-sm-6 col-lg-4 mb-4" bis_skin_checked="1">
                        <div class="card text-white bg-info" bis_skin_checked="1">
                            <div class="card-body" bis_skin_checked="1">
                                <div class="card-title" bis_skin_checked="1">{% trans 'Boshlash' %}</div>
                                <p class="card-text">{{ competition.start_date|custom_date }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-lg-4 mb-4" bis_skin_checked="1">
                        <div class="card text-white bg-danger" bis_skin_checked="1">
                            <div class="card-body" bis_skin_checked="1">
                                <div class="card-title" bis_skin_checked="1">{% trans 'Yakunlash' %}</div>
                                <p class="card-text">{{ competition.end_date|custom_date }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" bis_skin_checked="1">
        <div class="card-header" bis_skin_checked="1">
            <div class="row flex-between-end" bis_skin_checked="1">
                <div class="col-auto align-self-center" bis_skin_checked="1">
                    <h5 class="mb-0" data-anchor="data-anchor" id="table-example">{% trans 'Konkurs natijalari' %}<a
                            class="anchorjs-link " aria-label="Anchor" data-anchorjs-icon="#" href="#table-example"
                            style="padding-left: 0.375em;"></a></h5>
                </div>
            </div>
        </div>
        <div class="card-body pt-0" bis_skin_checked="1">
            <div class="tab-content" bis_skin_checked="1">
                <div class="tab-pane preview-tab-pane active" role="tabpanel"
                     aria-labelledby="tab-dom-316cb649-6a3e-4ec3-9de8-7d83e880873f"
                     id="dom-316cb649-6a3e-4ec3-9de8-7d83e880873f" bis_skin_checked="1">
                    <div id="tableExample"
                         data-list="{&quot;valueNames&quot;:[&quot;name&quot;,&quot;email&quot;,&quot;age&quot;],&quot;page&quot;:10,&quot;pagination&quot;:true}"
                         bis_skin_checked="1">
                        <div class="table-responsive scrollbar" bis_skin_checked="1">
                            <table class="table table-bordered table-striped fs--1 mb-0">
                                <thead class="bg-200 text-900">
                                <tr>
                                    <th class="sort" data-sort="table_number">№</th>
                                    <th class="sort" data-sort="email">{% trans 'Sotuvchi' %}</th>
                                    <th class="sort" data-sort="age">{% trans 'Sotilgan' %}</th>
                                </tr>
                                </thead>
                                <tbody class="list">
                                {% for  user__ in users %}
                                    <tr>
                                        <td class="text">#{{ forloop.counter }}</td>
                                        <td class="email">{{ user__.first_name }}</td>
                                        <td class="age">{{ user__.order_product_count }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}