{% extends 'apps/base.html' %}
{% block title %}
{% endblock %}


{% block main_content %}
    <div class="card mb-3" bis_skin_checked="1">
        <div class="card-body" bis_skin_checked="1">
            <div class="container" style="padding-top: 10px;" bis_skin_checked="1">
                <div class="content_cart" bis_skin_checked="1">

                    <div class="content_single-product-nouser" bis_skin_checked="1">
                        <div class="row" bis_skin_checked="1">

                            <div class="col-md-4 p-5" bis_skin_checked="1">
                                <h3>Mahsulot: O‘zbekiston gerbi va xaritasi tushirilgan soat</h3>
                                <small>Mahsulot narxi: 89000</small>
                                <p>Soni: 1</p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}