{% extends 'apps/base.html' %}
{% block title %}
    Steam page
{% endblock %}
{% block main_content %}
    <div class="card mb-3" bis_skin_checked="1">
        <div class="card-body" bis_skin_checked="1">
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true" bis_skin_checked="1">
                <div class="modal-dialog" role="document" bis_skin_checked="1">
                    <div class="modal-content" bis_skin_checked="1">
                        <div class="modal-header" bis_skin_checked="1">
                            <h5 class="modal-title" id="exampleModalLabel">Facebook dan olingan lidlarni yuklash</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body" bis_skin_checked="1">
                            <form method="POST" class="form-class" action="/admin_page/upload-csv"
                                  enctype="multipart/form-data">
                                <input type="hidden" name="csrfmiddlewaretoken"
                                       value="DoCezYsML5jCfls69dN2EHNo3mwJry7sNa2TCjcloFEIbxZ6o5Ui15rVwbaSp6UN">
                                <input name="stream_id" type="hidden" id="hidden_stream_id">
                                <input name="file" type="file" accept=".csv" required="">
                                <input type="submit" class="btn btn-primary mt-4" value="Csv fayl yuklash">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" bis_skin_checked="1">
                <br>
                <h3 class="text-center"> Mening havolalarim </h3>
                <br>

                <div class="row" bis_skin_checked="1">

                </div>
            </div>
        </div>
    </div>
{% endblock %}