{% extends 'apps/operators/operator_base.html' %}
{% load static %}
{% load i18n %}
{% load i18n_switcher %}

{% block operator_main %}

    <div class="container mt-5">
        <h1 class="text-center">{% trans "Mahsulot qo'shish" %}</h1>
        <form method="POST" action="{% url 'operator_add_order' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-danger">
                    <strong>{% trans "Iltimos, quyidagi xatoliklarni tuzating:" %}</strong>
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="form-group">
                <label class="form-label" for="full-name">{% trans "Ism Familya" %}</label>
                <input class="form-control" id="full-name" name="full_name" type="text" required/>
                <span id="full-name-error" style="color: red; display: none;"></span>
            </div>

            <div class="form-group">
                <label for="region">{% trans "Viloyat" %}</label>
                <select class="form-control" id="region" name="region" required onchange="getDistricts(this.value)">
                    <option value="" disabled selected>{% trans "Viloyat tanlang" %}</option>
                    {% for region in regions %}
                        <option value="{{ region.id }}">{{ region.name }}</option>
                    {% endfor %}
                </select>
                {% if form.region.errors %}
                    <small class="form-text text-danger">{{ form.region.errors }}</small>
                {% endif %}
            </div>

            <div class="form-group">
                {% trans "Tuman" %}
                <select name="district" class="form-control" id="district_id">
                    <option value="" selected disabled>{% trans "Tuman tanlang" %}</option>
                    {% if district.id %}
                        <option value="{{ district.id }}" selected>{{ district.name }}</option>
                    {% endif %}
                </select>
            </div>


            <div class="form-group">
                <label for="quantity" class="form-label required-label">{% trans "Nechta:" %}</label>
                <select id="quantity" class="form-select" aria-label="{% trans 'Nechta' %}" name="quantity" required>
                    <option value="" disabled selected>{% trans "Miqdor tanlang" %}</option>
                    <option value="1">1 ta (minimum)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                {% if form.quantity.errors %}
                    <div class="text-danger">
                        {{ form.quantity.errors }}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label class="form-label" for="phone-mask">Telefon nomer:</label>
                <input class="form-control" id="phone-mask" name="phone_number" type="tel" required/>
                <span id="phone-error" style="color: red; display: none;"></span>
            </div>

            <div class="form-group">
                <label for="id_product"><strong>{% trans "Mahsulot:" %}</strong></label>
                <select name="product" id="id_product" class="form-control" multiple required>
                    {% for product in products %}
                        <option value="{{ product.id }}">{{ product.name }}</option>
                    {% endfor %}
                </select>
                {% if form.product.errors %}
                    <div class="text-danger">
                        {{ form.product.errors }}
                    </div>
                {% endif %}
            </div>

            <button type="submit" id="submit-btn" class="btn btn-primary">{% trans "Mahsulot qo'shish" %}</button>
            <a href="{% url 'operator_page' %}" class="btn btn-danger mt-2 ml-2"
               style="position: absolute; right: 10px;">
                {% trans "Ortga Qaytish" %}
            </a>
        </form>
    </div>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.8/jquery.inputmask.min.js"></script>

    <script>
        function getDistricts(regionId) {
            const districtSelect = document.getElementById('district_id');
            districtSelect.innerHTML = '<option value="" selected disabled>Shahar/Tuman tanlang</option>';

            if (regionId) {
                fetch(`/get-districts/${regionId}`)
                    .then(response => response.json())
                    .then(data => {
                        data.forEach(district => {
                            const option = document.createElement('option');
                            option.value = district.id;
                            option.text = district.name;
                            districtSelect.appendChild(option);
                        });
                    })
                    .catch(error => console.log('Error:', error));
            }
        }

        $('#phone-mask').inputmask({
            "mask": "+\\9\\98(99) 999-99-99",
            "placeholder": "_",
            showMaskOnHover: true,
            showMaskOnFocus: true,
        });

        $(document).ready(function () {
            console.log("Document is ready.");

            if (typeof $.fn.inputmask === 'undefined') {
                console.error("Inputmask yuklanmagan.");
                return;
            } else {
                console.log("Inputmask muvaffaqiyatli yuklandi.");
            }


            $('#submit-btn').on('click', function (event) {
                const isPhoneValid = validatePhoneNumber('phone-mask', 'phone-error');
                const isFullNameValid = validateFullName('full-name', 'full-name-error');

                if (!isPhoneValid || !isFullNameValid) {
                    event.preventDefault();
                }
            });
        });

        function toggleValidationError(elementId, errorMessage, show = true) {
            const errorElement = document.getElementById(elementId);
            if (show) {
                errorElement.innerText = errorMessage;
                errorElement.style.display = 'block';
                setTimeout(() => errorElement.style.display = 'none', 5000);
            } else {
                errorElement.style.display = 'none';
            }
        }

        function validatePhoneNumber(inputId, errorElementId) {
            const phoneValue = document.getElementById(inputId).value.replace(/\D/g, '');
            const isValid = phoneValue.length === 12 && phoneValue.startsWith('998');
            toggleValidationError(errorElementId, 'Telefon raqam standardga javob bermaydi, iltimos tekshirib yuboring', !isValid);
            return isValid;
        }

        function validateFullName(inputId, errorElementId) {
            const fullNameValue = document.getElementById(inputId).value.trim();
            if (fullNameValue.length < 3) {
                toggleValidationError(errorElementId, 'Ism uzunligi kamida 3 ta belgidan iborat bo\'lishi kerak');
                return false;
            }
            if (/\d/.test(fullNameValue)) {
                toggleValidationError(errorElementId, 'Ismda raqam bo\'lishi mumkin emas');
                return false;
            }
            toggleValidationError(errorElementId, '', false);
            return true;
        }

        function toggleAll(source) {
            const checkboxes = document.querySelectorAll('input[type="checkbox"]');
            checkboxes.forEach(checkbox => {
                checkbox.checked = source.checked;
            });
        }

        document.addEventListener('DOMContentLoaded', function () {
            if ($.fn.multipleSelect) {
                $('select[multiple]').multipleSelect({
                    filter: true,
                    width: '100%'
                });
            } else {
                console.warn('multipleSelect plugin is not loaded.');
            }
        });
    </script>
    <style>
        select.form-control, select.form-select {
            width: 100%;
        }

        .badge-success {
            background-color: chartreuse;
            color: #fff;
            padding: 10px;
            border-radius: 50%;
        }

        .btn-warning {
            background-color: orange;
            border-color: orange;
            color: #fff;
        }

        .btn-warning:hover {
            background-color: darkorange;
            border-color: darkorange;
        }
    </style>
{% endblock %}
