{% extends 'apps/operators/operator_base.html' %}
{% load i18n %}
{% load custom_tags %}
{% load humanize %}
{% load static %}
{% block operator_main %}
    <div class="form-group">
        <label for="id_product"><strong>{% trans "Mahsulot:" %}</strong></label>
        <select name="product" id="id_product" class="form-control" multiple required>
            {% for product in products %}
                <option value="{{ product.id }}">{{ product.name }}</option>
            {% endfor %}
        </select>
        {% if form.product.errors %}
            <div class="text-danger">
                {{ form.product.errors }}
            </div>
        {% endif %}
    </div>

    <div class="row form-section">
        <div class="col-md-6 mb-3">
            <label for="region_id"
                   class="form-label required-label"><strong>{% trans "Viloyat" %}:</strong></label>
            <select name="region" class="form-select" id="region_id" onchange="getDistricts(this.value)"
                    required>
                <option value="" disabled
                        {% if not form.region.value %}selected{% endif %}>{% trans "Viloyat tanlang" %}</option>
                {% for region in regions %}
                    <option value="{{ region.id }}"
                            {% if form.region.value == region.id %}selected{% endif %}>
                        {{ region.name }}
                    </option>
                {% endfor %}
            </select>
            {% if form.region.errors %}
                <div class="text-danger">
                    {{ form.region.errors }}
                </div>
            {% endif %}
        </div>

        <div class="col-md-6 mb-3">
            <label for="district_id"
                   class="form-label required-label"><strong>{% trans "Tuman" %}:</strong></label>
            <select name="district" class="form-select" id="district_id" required>
                <option value="" disabled
                        {% if not form.district.value %}selected{% endif %}>{% trans "Tuman tanlang" %}</option>
                {% if form.district.value %}
                    <option value="{{ form.district.value }}"
                            selected>{{ form.district.label }}</option>
                {% endif %}
            </select>
            {% if form.district.errors %}
                <div class="text-danger">
                    {{ form.district.errors }}
                </div>
            {% endif %}
        </div>
    </div>


    <div class="form-group">
        <label for="product"><strong>{% trans "Mahsulot" %}:</strong></label>
        <input type="text" class="form-control" id="product" name="product"
               placeholder="{% trans 'Mahsulot nomi' %}"
               value="{{ form.product.value|default_if_none:'' }}" required>
        {% if form.product.errors %}
            <div class="text-danger">
                {{ form.product.errors }}
            </div>
        {% endif %}
    </div>

    <button type="submit" class="btn btn-primary mt-3">{% trans "Saqlash" %}</button>
    {% if request.path|spliter == 'delivering' %}
        <button type="submit" name="action" value="currier"
                class="btn btn-secondary mt-3 ml-2">{% trans "Courier" %}</button>
        <div class="form-check mt-3">
            <input type="checkbox" class="form-check-input" id="toggleAll" onclick="toggleAll(this)">
            <label class="form-check-label" for="toggleAll">{% trans "Toggle All" %}</label>
        </div>
    {% endif %}

    {% for order in orders %}
        <div class="card border-dark mt-5">
            <div class="card-body position-relative">
                {% if request.path|spliter|title == 'Delivering' %}
                    <span class="badge badge-success position-absolute"
                          style="top: 10px; right: 10px; font-size: 1.2rem;">
                                    #{{ order.pk }}
                                </span>
                {% endif %}
                <h2 class="card-title">{{ order.full_name }}
                    - {{ order.product.price|intcomma }} {{ order.product.currency }}</h2>
                <h3 class="card-subtitle mb-2 text-danger">{% trans "ZAKAZ ID:" %} #{{ order.pk }}</h3>
                <ul class="list-unstyled text-muted">
                    <li>
                        <strong>{% trans "Reklama tarqatuvchi ID:" %}</strong> {{ order.reklama_tarqatuvchi_id }}
                    </li>
                    <li><strong>{% trans "Client:" %}</strong> +998{{ order.client_phone }}</li>
                    <li>
                        <strong>{% trans "Manzil" %}:</strong> {{ order.region.name|default:"{% trans 'No aniq' %}" }}
                    </li>
                    <li>
                        <strong>{% trans "Narxi" %}:</strong> {{ order.product.price|intcomma }} {{ order.product.currency }}
                    </li>
                    <li><strong>{% trans "Soni:" %}</strong> {{ order.quantity }} ta</li>
                    <li><strong>{% trans "Vaqti:" %}</strong> {{ order.created_at|date:"Y-m-d H:i" }}
                    </li>
                    <li>
                        <strong>{% trans "Yangilangan vaqti:" %}</strong> {{ order.updated_at|date:"Y-m-d H:i" }}
                    </li>
                    <li><strong>{% trans "Holati:" %}</strong> {{ order.status }}</li>
                </ul>
                <a href="{% url 'operator_detail' order.pk %}"
                   class="btn btn-primary mt-2">{% trans "Qabul qilish" %}</a>
                <a href="" class="btn btn-warning mt-2 ml-2"
                   style="position: absolute; right: 10px;">{% trans "Hold" %}</a>

            </div>
        </div>
    {% endfor %}
    {% include 'apps/parts/_operators_pagination.html' %}

    <script>
        function getDistricts(regionId) {
            const districtSelect = document.getElementById('district_id');
            districtSelect.innerHTML = '<option value="" disabled selected>{% trans "Tuman tanlang" %}</option>';
            fetch(`/api/districts?region_id=${regionId}`)
                .then(response => response.json())
                .then(data => {
                    data.districts.forEach(district => {
                        const option = document.createElement('option');
                        option.value = district.id;
                        option.textContent = district.name;
                        districtSelect.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error('Error fetching districts:', error);
                });
        }

        function toggleAll(source) {
            const checkboxes = document.querySelectorAll('input[type="checkbox"]');
            checkboxes.forEach(checkbox => {
                checkbox.checked = source.checked;
            });
        }

        document.addEventListener('DOMContentLoaded', function () {
            // Initialize multipleSelect plugin if it's included
            if ($.fn.multipleSelect) {
                $('select[multiple]').multipleSelect({
                    filter: true,
                    width: '100%'
                });
            } else {
                console.warn('multipleSelect plugin is not loaded.');
            }
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'admin/js/multiple-select.min.js' %}"></script> 
    <link rel="stylesheet" href="{% static 'admin/css/multiple-select.css' %}"/> 

    <style>
        select.form-control, select.form-select {
            width: 100%;
        }

        .badge-success {
            background-color: chartreuse;
            color: #fff;
            padding: 10px;
            border-radius: 50%;
        }

        .btn-warning {
            background-color: orange;
            border-color: orange;
            color: #fff;
        }

        .btn-warning:hover {
            background-color: darkorange;
            border-color: darkorange;
        }
    </style>
{% endblock %}
