{% load static %}
{% load custom_tags %}
{% load i18n %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Operatorlar bo'limi " %}- alijahon.uz</title>
    <link rel="stylesheet" href="{% static 'apps/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'apps/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css" rel="stylesheet">
    <style>
        select {
            width: 100%;
        }
    </style>
</head>
<body>
<div>
    <nav class="navbar navbar-dark bg-dark text-white" style="height: 10%;">
        {% if request.path|spliter == 'new' %}
            <div style="margin-left: 15px;"><a href="{% url 'main_base' %}">{% trans 'Zakaz +' %}</a></div>{% endif %}
        <div>{% trans 'Buyurtmalar' %}</div>
        <h4>ID: 721</h4>
        <h4>Operator: {{ operator.user.first_name }}</h4>
        <a href="{% url 'admin_page' %}" class="btn btn-danger btn-sm">{% trans 'Asosiy panel' %}</a>
    </nav>
    <div class="row">
        {% include 'apps/parts/_operators_sidebar.html' %}
        <div class="col-md-10" style="margin-left: 16%;">
            <div class="bg-light w-75 m-auto mt-5">
                <form method="GET">
                    <div>
                        <p>
                            <label for="id_product"><strong>{% trans 'Mahsulot:' %}</strong></label>
                            <select name="product" id="id_product" multiple>
                                {% for product in products %}
                                    <option value="1">{{ product.name }}</option>
                                {% endfor %}
                            </select>
                        </p>
                        <div class="row form-section">
                            <div class="col-md-6 mb-3">
                                <label for="region_id"
                                       class="form-label required-label"><strong>{% trans "Viloyat" %}:</strong></label>
                                <select name="region" class="form-select" id="region_id"
                                        onchange="getDistricts(this.value)"
                                        required>
                                    <option value="" disabled selected>{% trans "Viloyat tanlang" %}</option>
                                    {% for region in regions %}
                                        <option value="{{ region.id }}"
                                                {% if true %}selected{% endif %}>
                                            {{ region.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                                {% if form.region_id.errors %}
                                    <div class="text-danger">
                                        {{ form.region_id.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="district_id"
                                       class="form-label required-label"><strong>{% trans "Tuman" %}:</strong></label>
                                <select name="district" class="form-select" id="district_id" required>
                                    <option value="" disabled selected>{% trans "Tuman tanlang" %}</option>
                                    {% if order.district.id %}
                                        <option value="{{ order.district.id }}"
                                                selected>{{ order.district.name }}</option>
                                    {% endif %}
                                </select>
                                {% if form.district.errors %}
                                    <div class="text-danger">
                                        {{ form.district.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <script>
                            function getDistricts(regionId) {
                                const districtSelect = document.getElementById('district_id');
                                districtSelect.innerHTML = '<option value="" disabled selected>{% trans "Tuman tanlang" %}</option>';
                                fetch(`/api/districts?region_id=${regionId}`)
                                    .then(response => response.json())
                                    .then(data => {
                                        data.districts.forEach(district => {
                                            const option = document.createElement('option');
                                            option.value = district.id;
                                            option.textContent = district.name;
                                            districtSelect.appendChild(option);
                                        });
                                    })
                                    .catch(error => {
                                        console.error('Error fetching districts:', error);
                                    });
                            }
                        </script>
                        <p>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Saqlash">
                    {% if request.path|spliter == 'delivering' %}
                        <br>
                        <input class="btn btn-primary" type="submit" value="currier" style="margin-top: 10px;">
                        <input type="checkbox" onclick="toggle(this)"> Toggle All<br>
                    {% endif %}
                </form>
                {% for order in orders %}
                    <div class="card border-dark mt-5">
                        <div class="card-body">{% if request.path|spliter|title == 'Delivering' %}<span
                                style="position: absolute; right: 0px; border: 1px solid chartreuse; background: chartreuse; padding: 15px; font-size: 26px; font-weight: 700;">#{{ order.pk }}
                </span>{% endif %}
                            <h2 class="card-title">{{ order.full_name }} - {{ order.product.price|intcomma }} sum</h2>
                            <h3 class="card-title text-danger">{% trans 'ZAKAZ ID:' %} #{{ order.pk }}</h3>
                            <ul class="text-muted">
                                <li class="">{% trans 'Reklama tarqatuvchi ID:' %} uzim</li>
                                <li class="">{% trans 'Client:' %} +9989XXXXXXXX</li>
                                <li class="">{% trans 'Manzil' %}: {{ order.region.name|default:'No aniq' }}</li>
                                <li class="">
                                    {% trans 'Narxi' %} {{ order.product.price|intcomma }} sum
                                </li>
                                <li class="">{% trans 'Soni:' %} 1ta</li>
                                <li class="">{% trans 'Vaqti:' %} {{ order.created_at }}</li>
                                <li class="">{% trans 'Yangilangan vaqti:' %} {{ order.updated_at }}</li>
                                <li class="">{% trans 'Holati:' %} {{ order.status }}</li>
                            </ul>
                            <a href="{% url 'operator_detail' order.pk %}" class="btn btn-primary"
                               style="float: left; margin-right: 10px;">
                                {% trans 'Qabul qilish' %}
                            </a>
                            <a href="{% url 'operator_detail' order.pk %}" class="btn btn-primary"
                               style="float: right; margin-right: 10px;">
                                {% trans 'Hold' %}
                            </a>
                        </div>
                    </div>
                {% endfor %}
                {% include 'apps/parts/_pagination.html' %}
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>
<script src="{% static 'apps/js/regions_filter.js' %}"></script>
<script>
    $(function () {
        $('select').multipleSelect({
            multiple: true,
            multipleWidth: 500,
            maxHeight: 200,
            filter: true
        });
    });
</script>

</body>
</html>
